<div class="hero">
    <br />
    <div class="frosty col-6 offset-3 text-center">
        <h2>Introduction to Bass Guitar <br /> 7 Lessons</h2>
        <br />
        <h4>Michael Collins</h4> 
        <h6>Bassist, Tangiers</h6>
        <br />
        
        <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    </div>
</div>

<br />

<div class="row feature text-center">
    <div class="col-12 col-sm frosty_sm">
        <br />
        <div class="image">
            <%= image_tag image_url('courses.png') %>
        </div>
        <h4>Amazing Courses</h4>
        <br />
        <div class="col-sm">
        <h6>Choose from thousands of courses across many disciplines</h6>
        </div>
        <br />
    </div>
     <div class="col-12 col-sm frosty_sm">
        <br />
        <div class="image">
            <%= image_tag image_url('selfpaced.png') %>
        </div>
        <h4>Self-Paced Learning</h4>
        <br />
        <div class="col-sm">
        <h6>Take the courses at your own speed with no time limit on access to your curriculum</h6>
        </div>
        <br />
    </div>
     <div class="col-12 col-sm frosty_sm">
        <br />
        <div class="image">
            <%= image_tag image_url('community.png') %>
        </div>
        <h4>Join Our Community</h4>
        <br />
        <div class="col-sm">
        <h6>Meet other students and form bonds with the wider Flixter community</h6>
        </div>
        <br />
    </div>
</div>

