<div class="hero">
    <br />
    <div class="frosty col-10 offset-1 text-center">
        <h1>Learn Bass Guitar from the Pros</h1>
        <br />
        <h4>Michael Collins</h4> 
        <h6>Bassist, Monkey Snot</h6>
        <br />
        
        <%= link_to 'Start', '#', class: 'btn btn-success' %>
    </div>
</div>