<br />
<div class="booyah-box col-10 offset-1">
  <h1>Privacy Policy</h1>
  <p>
    We do not share personal information with companies, organizations and individuals outside of Flixter unless one of the following circumstances applies:

    With your consent
    
    We will share personal information with companies, organizations or individuals outside of Flixter when we have your consent to do so. We require opt-in consent for the sharing of any sensitive personal information.
    
    With domain administrators
    
    If your Flixter Account is managed for you by a domain administrator then your domain administrator and resellers who provide user support to your organization will have access to your Flixter Account information (including your email and other data). Your domain administrator may be able to:
    
    view statistics regarding your account, like statistics regarding applications you install.
    change your account password.
    suspend or terminate your account access.
    access or retain information stored as part of your account.
    receive your account information in order to satisfy applicable law, regulation, legal process or enforceable governmental request.
    restrict your ability to delete or edit information or privacy settings.
    Please refer to your domain administrator’s privacy policy for more information.
    
    For external processing
    
    We provide personal information to our affiliates or other trusted businesses or persons to process it for us, based on our instructions and in compliance with our Privacy Policy and any other appropriate confidentiality and security measures.
    
    For legal reasons
    
    We will share personal information with companies, organizations or individuals outside of Flixter if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to:
    
    meet any applicable law, regulation, legal process or enforceable governmental request.
    enforce applicable Terms of Service, including investigation of potential violations.
    detect, prevent, or otherwise address fraud, security or technical issues.
    protect against harm to the rights, property or safety of Flixter, our users or the public as required or permitted by law.
    We may share non-personally identifiable information publicly and with our partners – like publishers, advertisers or connected sites. For example, we may share information publicly to show trends about the general use of our services.

    If Flixter is involved in a merger, acquisition or asset sale, we will continue to ensure the confidentiality of any personal information and give affected users notice before personal information is transferred or becomes subject to a different privacy policy.
  </p>
</div>