<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Course Catalog</h1>
  <br />
<% @courses.each do |course| %>
  <h2 class="text-center">
    <%= image_tag @course.image, class: 'img-fluid' %>
    <%= link_to course.title, course_path(course) %></h2>
  <br />
  <div class="row">
    <div class="description-text col-sm-8 col-6 offset-3">
      <%= course.description %>
    </div>
    <div class="col-sm-4 col-6 offset-3">
      <%= link_to 'Details', course_path(course), class: 'badge badge-pill badge-info' %>
    </div>
  </div>
  <br class="clr" />
<% end %>
</div>