// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');


.navbar {
    font-family: "Palanquin Dark", san-serif;
    box-shadow: 0px 1px 3px #2a2a2a;
    background: image_url('navbar.png');
}


a.navbar-brand {
    font-family: "Fascinate Inline", san-serif;
    font-size: 40px;
    font-weight: 100;
    color: #000000;
}